@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-silkscreen-regular: 'Silkscreen', sans-serif;
  --font-silkscreen-bold: 'Silkscreen Bold', sans-serif;
}

.font-silkscreen {
  font-family: var(--font-silkscreen-regular);
}

.font-silkscreen-bold {
  font-family: var(--font-silkscreen-bold);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-silkscreen-regular), Arial, Helvetica, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

input, textarea, select {
  outline: none;
}

input[type="file"] {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
